<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<!-- SEO STUFF -->
		<meta name="description" content="Anthony's Personal Homepage">
		<meta name="keywords" content="web design, web developer, freelance, for hire, student">
		<meta name="author" content="Anthony de Vellis">
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<title>Anthony De Vellis</title>
	</head>
	<body>
		<header>
			<div class="">
				<figure id="header-synopsis">
					<img src="/pic-me" alt="HTML5" />
					<figcaption id="synopsis">
						<p id="firstname">Anthony</p> 
						<p id="lastname">de Vellis</p>
					</figcaption>
				</figure>
				<button id="mobile-nav-button" class="" onclick="mobile_menu_toggle()">
						<span class="hamburger-container">
							<span class="burger-patty"></span>
							<span class="burger-patty"></span>
							<span class="burger-patty"></span>
						</span>
				</button>
				<nav id="nav-primary">
					<ul id="navlinks">
						<li><a id="nav-about" href="/about" class="button button-nav active">About</a></li>
						<li><a id="nav-resume" href="/resume" class="button button-nav">Resume</a></li>
						<li><a id="nav-projects" href="/projects" class="button button-nav">Projects</a></li>
						<li><a id="nav-thinkery" href="/thinkery" class="button button-nav">Thinkery</a></li>
						<li><a id="nav-contact" href="/contact" class="button button-nav">Contact</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<section id="about" class="container">
				<article id="about-me">
					<h4 class="article-header">About Me</h4>
					<hr />
					<br />
					<p class="text-paragraph">
						I'm Anthony and I created this website to show people who I am and what I can do. I also use it as a coding lab for my self-education in web development. You can see the backend code on <a href="https://github.com/Apollonaut-dev/PersonalHomePage">GitHub</a>.
					</p>
					<br />
					<p class="text-paragraph">
						I used this project to teach myself the basics of HTML, CSS and JavaScript DOM manipulation. I also created the backend in Node and so far it has been a great way to think about architecture. My next step is to connect a database and generate pages to serve requests dynamically. After that I'll learn the frameworks Express.js and Angular.js as well as Bootstrap HTML now that I have learned the basics of back and front end. Lastly (for now), I'll create a backend that I can easily publish articles and update my resume from. However, I will keep this website vanilla Node.js, vanilla HTML5, vanilla JavaScript and SCSS, so that I can experiment independently of the many frameworks that are out there and investigate the architecture of web development on my terms and at my own pace.
					</p>
					<br />
					<p class="text-paragraph">
						I used to go to the University of Waterloo but I failed out of the engineering program after struggling with my mental health. I saw a clinician and began reading; about mental health and about some of the topics that worried me. It wasn't that I was stressed out about school, it was that I was stressed out about everything else. That was a terrible part of my life but I learned much about myself in overcoming it. I'm back now and better than I've ever been. I'm looking for a software role to dedicate myself to as I complete my studies part-time. 
					</p>
					<br />
					<p class="text-paragraph">
						This is a sample of my current level of competence. I have been working on it and the backend Node.js system for a few months part-time. I update it once a week, but I hope to do this more frequently as I put more work into the backend. I wanted to start with the frontend because I had only ever done backend work at my internships. 
					</p>
					<br />
					<p class="text-paragraph">
						As for me personally? I have a passion for reading about philosophy which might be why I sometimes get lost in my own head. Currently, I am reading a book called On Computing by Paul Rosenbloom. I also enjoy listening to western classical music and exploring music from non-western cultures. I have recently developed a habit of going for early-morning runs and I have noticed that it makes me sharper during the rest of the day and that my mood, appetite, and productivity are more consistent. To de-stress and relax, I play video games such as Civilization and CS:GO, although the latter is not known for being particularly relaxing!
					</p>
					<br />
					<p class="text-paragraph">
						I've gone through a rough couple of years but I am back, immeasurably more mature, and ready to show the world of software what I am capable of.
					</p>
				</article>
			</section>
		</main>
		<footer>
			<div class="container">
				<p>Anthony de Vellis &copy; <script>document.write(new Date().getFullYear());</script> | <a href="/contact">Contact</a></p>
			</div>
		</footer>
		<script>
			/* page initialization */
			(function() {

			})();

			function nav_active() {

				
				var navs = document.getElementById("navlinks").childNodes;
				// every other object in this list is innertext, the odd numbers are elements
				for ( let i = 1; i < navs.length; i += 2 ) {
					navs.item(i).className.replace(" active", " inactive");
				}

				// this.className.replace(" inactive", " active");
			}

			function mobile_menu_toggle() {
				let burger = document.getElementById("mobile-nav-button");
				let side_nav = document.getElementById("nav-primary");
				console.log(burger.classList);

				if ( burger.classList.contains("open") ) { // close menu
					burger.classList.remove("open");
					burger.style["background-color"] = "rgba(80,40,160,1)";
					side_nav.style["width"] = "0";
					document.body.style["background-color"] = "white";
				} else {	// open menu
					burger.classList.add("open");
					burger.style["background-color"] = "rgba(60,30,120,1)";
					// check if we're in mobile mode
					side_nav.style["width"] = "50vw";
					// darken the rest of the screen
					document.body.style["background-color"] = "rgba(0,0,0, 0.6)";
				}
			}
			// reset navbar on resize so darkened overlay and navbar width return to normal
			document.documentElement.addEventListener("resize", function() { 
				if ( document.documentElement.clientWidth > 720 ) {
					document.body.style["background-color"] = "white";
					side_nav.style["width"] = "100%";
				}
			});
			// implement onResize event listener
		</script>
	</body>