<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<!-- SEO STUFF -->
		<meta name="description" content="Anthony's Personal Homepage">
		<meta name="keywords" content="web design, web developer, freelance, for hire, student">
		<meta name="author" content="Anthony de Vellis">
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<title>Anthony De Vellis</title>
	</head>
	<body>
		<header>
			<div class="">
				<figure id="header-synopsis">
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Circle_%28transparent%29.png/600px-Circle_%28transparent%29.png" alt="HTML5" />
					<figcaption id="synopsis">
						This website is responsive and accessible. Everything from the server to the html is original source by me. <a href="https://github.com/Apollonaut-dev/PersonalHomePage">GitHub</a>
					</figcaption>
				</figure>
				<button id="mobile-nav-button" class="" onclick="mobile_menu_toggle()">
						<span class="hamburger-container">
							<span class="burger-patty"></span>
							<span class="burger-patty"></span>
							<span class="burger-patty"></span>
						</span>
				</button>
				<nav id="nav-primary">
					<ul id="navlinks">
						<li><a id="nav-about" href="/about" class="button button-nav active">About</a></li>
						<li><a id="nav-resume" href="/resume" class="button button-nav">Resume</a></li>
						<li><a id="nav-projects" href="/projects" class="button button-nav">Projects</a></li>
						<li><a id="nav-thinkery" href="/thinkery" class="button button-nav">Thinkery</a></li>
						<li><a id="nav-contact" href="/contact" class="button button-nav">Contact</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<section id="about" class="container">
				<article> 
					<h3>Article</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet venenatis risus ac finibus. Sed auctor sapien lorem, a maximus sem venenatis ac. Integer tristique tempus sapien, vel malesuada massa cursus id. Morbi interdum id ante nec semper. Duis diam enim, pretium ac gravida vel, facilisis non velit. Duis vestibulum cursus condimentum. Morbi ac dictum sem. Proin efficitur bibendum tempor.
<br />
Maecenas id malesuada mi. Mauris vehicula, lorem id vulputate facilisis, elit lorem imperdiet ex, in maximus quam nunc at sem. Sed non placerat odio. Proin consequat mauris ligula, non condimentum orci tincidunt vel. Fusce lobortis ex mauris, in commodo diam posuere at. Vivamus leo urna, consectetur mattis magna vitae, condimentum suscipit dolor. Pellentesque et imperdiet dui, ac pretium lectus. Nam bibendum, justo vel vulputate ornare, turpis sapien euismod ligula, sed dignissim nisl velit id ex. Donec rutrum felis in faucibus scelerisque. Etiam tincidunt eros sed congue pellentesque. Integer viverra varius quam ac auctor. Sed eleifend elit sed ex porta maximus. Nam venenatis dictum diam, maximus venenatis risus aliquam eget.
<br />
Aenean finibus ipsum at risus condimentum tincidunt. Nam blandit hendrerit aliquam. In vel finibus velit, vel bibendum libero. Vestibulum mattis, dolor quis pharetra placerat, dolor magna feugiat erat, id interdum arcu turpis imperdiet ipsum. Donec ullamcorper arcu in sagittis pharetra. Vivamus nec eleifend augue, non feugiat sem. Proin dictum malesuada ex, ut blandit justo cursus et. Curabitur feugiat convallis elit quis euismod.
<br />
Sed sed sem sed libero lobortis tincidunt. Vestibulum faucibus tempor facilisis. Vivamus dictum feugiat scelerisque. Sed eu enim vitae velit congue malesuada ac ac dolor. In eleifend augue eu velit consectetur efficitur. Aliquam tempor sapien neque, semper lacinia nulla egestas et. Duis semper nec felis ut aliquam.
<br />
Aenean at dui at nunc elementum ultricies. Cras at sapien et ipsum viverra tristique sed at tortor. In sodales mauris nec molestie elementum. Vivamus lacinia et lorem non porttitor. Duis in varius urna. Donec tortor risus, pulvinar id vulputate a, tempus vitae orci. Morbi dapibus eleifend pharetra. Mauris commodo, urna euismod scelerisque molestie, augue augue feugiat arcu, a tristique eros massa eget tortor. Nunc nec vestibulum ligula. Phasellus ultrices vitae sem vel ultricies. Duis auctor vulputate mauris, ut ornare ipsum porta eu. Aliquam condimentum ligula non tempus venenatis. Sed ut tincidunt libero. Mauris vel imperdiet augue, non accumsan purus. Praesent faucibus mi sit amet nisl aliquam interdum.</p>
				</article>
			</section>
		</main>
		<footer>
			<div class="container">
				<p>Anthony de Vellis &copy; <script>document.write(new Date().getFullYear();</script></p>
			</div>
		</footer>
		<script>
			/* page initialization */
			(function() {

			})();

			function nav_active() {

				
				var navs = document.getElementById("navlinks").childNodes;
				// every other object in this list is innertext, the odd numbers are elements
				for ( let i = 1; i < navs.length; i += 2 ) {
					navs.item(i).className.replace(" active", " inactive");
				}

				// this.className.replace(" inactive", " active");
			}

			function mobile_menu_toggle() {
				let burger = document.getElementById("mobile-nav-button");
				let side_nav = document.getElementById("nav-primary");
				console.log(burger.classList);

				if ( burger.classList.contains("open") ) { // close menu
					burger.classList.remove("open");
					burger.style["background-color"] = "rgba(80,40,160,1)";
					side_nav.style["width"] = "0";
					document.body.style["background-color"] = "white";
				} else {	// open menu
					burger.classList.add("open");
					burger.style["background-color"] = "rgba(60,30,120,1)";
					// check if we're in mobile mode
					side_nav.style["width"] = "50vw";
					// darken the rest of the screen
					document.body.style["background-color"] = "rgba(0,0,0, 0.6)";
				}
			}
			// reset navbar on resize so darkened overlay and navbar width return to normal
			document.documentElement.addEventListener("resize", function() { 
				if ( document.documentElement.clientWidth > 720 ) {
					document.body.style["background-color"] = "white";
					side_nav.style["width"] = "100%";
				}
			});
			// implement onResize event listener
		</script>
	</body>