<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<!-- SEO STUFF -->
		<meta name="description" content="Anthony's Personal Homepage">
		<meta name="keywords" content="web design, web developer, freelance, for hire, student">
		<meta name="author" content="Anthony de Vellis">
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<title>Anthony De Vellis</title>
	</head>
	<body>
		<header>
			<div class="">
				<figure id="header-synopsis">
					<img src="/pic-me" alt="HTML5" />
					<figcaption id="synopsis">
						<p id="firstname">Anthony</p> 
						<p id="lastname">de Vellis</p>
					</figcaption>
				</figure>
				<button id="mobile-nav-button" class="">
					<div id="burger-patty"></div>
				</button>
				<nav id="nav-primary">
					<ul id="navlinks">
						<li><a id="nav-about" href="/about" class="button button-nav active">About</a></li>
						<li><a id="nav-resume" href="/resume" class="button button-nav">Resume</a></li>
						<li><a id="nav-projects" href="/projects" class="button button-nav">Projects</a></li>
						<li><a id="nav-thinkery" href="/thinkery" class="button button-nav">Thinkery</a></li>
						<li><a id="nav-contact" href="/contact" class="button button-nav">Contact</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<section id="contact-form" class="container">
				<form id="form-quote" action="/submit-form" method="post" enctype="multipart/form-data">
					<h4 id="form-heading" class="article-header" >Need a website built?</h4>
					<hr /><br />
					<label class="form-label">Name</label>
					<br />
					<input name="name" type="text" class="input-name" />
					<br />
					<label class="form-label">Email</label>
					<br />
					<input name="email" type="text" class="input-email" />
					<br />
					<label class="form-label">Cell</label>
					<br />
					<input name="phone" type="text" class="input-phone" />
					<br />
					<label class="form-label">Description</label>
					<br />
					<textarea name="description" type="text" class="input-quote-description"></textarea>
					<button class="form-submit" type="submit" onclick="submit_quote()">Submit</button>
				</form>
			</section>
			<br />
			<section id="contact" class="container">
				<figure id="contact-info-card">
					<img src="/pic-me" alt="HTML5" />
					<figcaption>
						<address id="contact-info">
							<ul class="contact-methods-list">
								<li class="contact-channel">
									<a href="mailto:anthonydevellis@gmail.com">anthonydevellis@gmail.com</a>
								</li>
								<li class="contact-channel">
									<a href="tel:+16478189713">(647)-818-9713</a>
								</li>
								<li class="contact-channel">
									<a href="https://www.linkedin.com/in/anthony-de-vellis-ba053091">LinkedIn</a>
								</li>
								<li class="contact-channel">
									15 Shadetree Cres., Vaughan, ON, L4H1Y3
								</li>
							</ul>
						</address>	
					</figcaption> 
				</figure>
			</section>
		</main>
		<footer>
			<button id="mobile-scroll-up-button" class="">
				<div id="scroll-gfx"></div>
			</button>
			<div class="container">
				<p>Anthony de Vellis &copy; <script>document.write(new Date().getFullYear());</script> | <a href="/contact">Contact</a></p>
			</div>
		</footer>
		<script>
			/* page initialization */
			(function() {

			})();

			var side_nav = document.getElementById("nav-primary");
				var menu_burger = document.getElementById("mobile-nav-button");
				var menu_patty = document.getElementById("burger-patty");
				var up_button = document.getElementById("mobile-scroll-up-button");

				/* toggle menu */
				menu_burger.addEventListener('click', function(e) {
					e.preventDefault();
					menu_burger.classList.toggle('open');
					menu_patty.classList.toggle('open');
					side_nav.classList.toggle('open');
				});
				
				// display up-button when scrolled down sufficiently
				// TODO test with screen reader
				window.addEventListener("scroll", function(e) {
					console.log('scroll event');
					if ( window.pageYOffset > 300 ) {
						up_button.style.display = "inline-block";
					} else {
						up_button.style.display = "none";
					}
				});
				// scroll to top when up-button is clicked
				up_button.addEventListener("click", function(e) {
					window.scrollTo(0, 0);
				});
		</script>
	</body>