<header>
	<figure id="header-synopsis">
		<img src="/pic-me" alt="HTML5" />
		<figcaption id="synopsis">
			<a href="https://github.com/Apollonaut-dev/PersonalHomePage">GitHub</a>
		</figcaption>
	</figure>
	<button id="mobile-nav-button" class="" onclick="mobile_menu_toggle()">
				<span class="hamburger-container">
				<span class="burger-patty"></span>
				<span class="burger-patty"></span>
			<span class="burger-patty"></span>
		</span>
	</button>
	<nav id="nav-primary">
		<ul id="navlinks">
			<li><a id="nav-about" href="/about" class="button button-nav">About</a></li>
			<li><a id="nav-resume" href="/resume" class="button button-nav">Resume</a></li>
			<li><a id="nav-projects" href="/projects" class="button button-nav">Projects</a></li>
			<li><a id="nav-thinkery" href="/thinkery" class="button button-nav active">Thinkery</a></li>
			<li><a id="nav-contact" href="/contact" class="button button-nav">Contact</a></li>
		</ul>
	</nav>
</header>