<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<!-- SEO STUFF -->
		<meta name="description" content="Anthony's Personal Homepage">
		<meta name="keywords" content="web design, web developer, freelance, for hire, student">
		<meta name="author" content="Anthony de Vellis">
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<title>Anthony De Vellis</title>
	</head>
	<body>
		<header>
			<div class="">
				<figure id="header-synopsis">
					<img src="/pic-me" alt="HTML5" />
					<figcaption id="synopsis">
						<p id="firstname">Anthony</p> 
						<p id="lastname">de Vellis</p>
					</figcaption>
				</figure>
				<button id="mobile-nav-button" class="" onclick="mobile_menu_toggle()">
						<span class="hamburger-container">
							<span class="burger-patty"></span>
							<span class="burger-patty"></span>
							<span class="burger-patty"></span>
						</span>
				</button>
				<nav id="nav-primary">
					<ul id="navlinks">
						<li><a id="nav-about" href="/about" class="button button-nav">About</a></li>
						<li><a id="nav-resume" href="/resume" class="button button-nav active">Resume</a></li>
						<li><a id="nav-projects" href="/projects" class="button button-nav">Projects</a></li>
						<li><a id="nav-thinkery" href="/thinkery" class="button button-nav">Thinkery</a></li>
						<li><a id="nav-contact" href="/contact" class="button button-nav">Contact</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<section id="section-resume" class="container">
				<article id="resume">
					<br />
					<section id="technical-skills">
						<h3>TECHNICAL SKILLS</h3>
						<hr />
						<br />
						<ul>
							<li>
								Backend: proficient in PHP, PHPUnit, Rails, Node.js, Rails, Selenium, MySQL, BASh, Amazon Web Services Lightsail
							</li>
							<li>
								Frontend: proficient with  JS DOM manipulation, jQuery, AJAX, Node.js, and vanilla HTML5, CSS3	
							</li>
							<li>
				 				Built fully-responsive, screen reader-accessible personal website and server for networking, side-jobs and blogging using vanilla Node.js for backend, and HTML5, CSS3 and JavaScript for front, hosted on AWS Lightsail
							</li>
							<li>
				 				Designed, built, and programmed a Lego NXT-based 3-D printed model hand using RobotC and Solidworks
							</li>
							<li>
								Experience in ARM, C/C++, Python, Java through academic and start-up projects
 
							</li>
							<li> 
								Well-versed in Object Oriented Programming, Object Oriented Design and Object Oriented Analysis
	
							</li>
							<li>
				 				Working knowledge of algorithmic scalability and system resource constraints 
							</li>
							<li>
				 				Familiar with workspace GNU/Linux CLI utilities such as gcc/g++ compilers, gdb debugger, and Git 
							</li>
						</ul>
					</section>
					<br />
					<section id="summary-of-skills">
						<h3>SUMMARY OF SKILLS</h3>
							<hr />
							<br />
							<ul>
								<li>
									Collaborative, results-driven team ethic developed by attending to intra- and inter-team goals
								</li>
								<li>
									Communicates effectively in proximity with non-technical teams and team members
								</li>
								<li>
									Attends to business and technical detail to optimize future productivity of all stakeholders
								</li>
								<li>
									Competently manages competing priorities and the interests of conflicting stakeholders
								</li>
								<li>
									Respects time, process, documentation, testing, and ambiguity-resolving oxford commas
								</li>
								<li>	
									Thrives on constructive criticism, honesty, and technical dialogue
								</li>
							</ul>
					</section>
					<br />
					<section id="work-experience">
						<h3>WORK EXPERIENCE</h3>
						<hr />
						<br />
						<ul>
							<li>
								<h4>Toolroom Assistant at Black and McDonald</h4>
								<h5>Toronto, ON, May 2019 to Present</h5>
								<ul>
									<li>
										Transitioned from paper-based to software-based tool management system
									</li>
									<li>
										Tracked tools coming from and going to job sites
									</li>
									<li>
										Maintained tools and tool room organization
									</li>
									<li>
										Performed data entry relating to tools, certificates and calibration records
									</li>
								</ul>
							</li>
							<br />
							<li>
								<h4>Backend Web Developer at Alert Driving</h4>
								<h5>Toronto, ON, January 2019 to April 2019</h5>
								<ul>
									<li>
										Maintained Moodle Learning Management System to improve productivity of operations and clients
									</li>
									<li>
										Developed and debugged PHP scripts, classes, and pages to satisfy business and operations requirements
									</li>
									<li>
										Created a multipage web form to batch send templated emails using Moodle, PearForms, Javascript, jQuery and AJAX requests, improving the productivity of support teams and clients
									</li>
									<li>
										Wrote custom shell script to improve branching and context-switching workflow of fellow team members 
									</li>
								</ul>
							</li>
							<br />
							<li>
								<h4>Backend Web Developer at Flipp Corp.</h4>
								<h5>Toronto, ON, May 2016 to August 2016</h5>
								<ul>
									<li>
										Maintained backend Ruby/Rails codebase to minimize day-to-day digital content processing downtime
									</li>
									<li>
										Wrote custom parser to convert product information from merchant’s XML to CSV format
									</li>
									<li>
										Coordinated with Operations Team to prioritize and correct retailer-specific bugs and improve process
									</li>
									<li>
										Explored new automated processes for retailers with the direction of the Business Development Team
									</li>
									<li>
										Developed team-oriented awareness by focusing on team priorities in company-wide context with JIRA
									</li>
									<li>
										Wrote, tested, and maintained webscrapers using Ruby and Selenium
									</li>
								</ul>
							</li>
							<br />
							<li>
								<h4>UW Velocity Co-founder at Guard-Ex Inc.</h4>
								<h5>Waterloo, ON, October 2015 to September 2017</h5>
								<ul>
									<li>
										Created a universal, nonintrusive, roadside, cognitive impairment test
									</li>
									<li>
										Evaluated possible integration of electroencephalography, electromyography, and eye-tracking to determine impairment under alcohol, cannabis, and other illegal substances
									</li>
									<li>
										Consulted with Law Enforcement as well as law professionals on both practical testing requirements and the legality and human rights compliance of roadside testing
									</li>
								</ul>
							</li>
							<br />
							<li>
								<h4>Assistant QA Inspector at Schweitzer &amp; Conrad Electric</h4>
								<h5>Toronto, ON, May 2015 to August 2015</h5>
								<ul>
									<li>
										Inspected industrial grade electrical switches and fuses for mechanical/electrical defects
									</li>
									<li>
										Conducted high potential 20 kV, 35 kV, 50 kV and 100 kV tests on switches and disconnects
									</li>
									<li>
										Analyzed electrical and mechanical drawings to determine proper function, form, and customer specifications
									</li>
									<li>
										Calibrated precise instruments including micrometers and ohmmeters for use on the production line
									</li>
								</ul>
							</li>
							<br />
							<li>
								<h4>Grocery Clerk at Fab's Nofrills</h4>
								<h5>Vaughan, ON, November 2010 to August 2018</h5>
								<ul>
									<li>	
										Organized and maintained product displays
									</li>
									<li>
										Aided customers by finding products, verifying stock, and answering policy questions
									</li>
									<li>
										Rewarded by Franchisee for providing exceptional customer service
									</li>
									<li>
										Trained and oriented new part-time employees in arious departments
									</li>
								</ul>
							</li>
						</ul>
					</section>
					<br />
					<section id="education">
						<h3>EDUCATION</h3>
						<hr />
						<br />
						<ul>
							<li>
								<h4>Part-time Student</h4>
								<h5>Athabasca University, May 2019 to Present</h5>
							</li>
							<br />
							<li>
								<h4>Candidate for Bachelor of Applied Science, Computer Engineering (Honours) <strong>INCOMPLETE</strong></h4>
								<h5>University of Waterloo, January 2016 to December 2018</h5>
							</li>
							<br />
							<li>
								<h4>Candidate for Bachelor of Applied Science, Mechanical Engineering (Honours) <strong>TRANSFERRED</strong></h4>
								<h5>University of Waterloo, September 2014 to August 2015</h5>
							</li>
							<br />
							<li>
								<h4>Ontario Secondary School Diploma</h4>
								<h5>St. Jean de Brebeuf, Vaughan, ON, September 2010 to June 2014</h5>
							</li>
						</ul>
						<br />
					</section>
				</article>
			</section>
		</main>
		<footer>
			<div class="container">
				<p>Anthony de Vellis &copy; <script>document.write(new Date().getFullYear();</script></p>
			</div>
		</footer>
			<script>
				/* page initialization */
				(function() {

				})();

				function nav_active() {
					var navs = document.getElementById("navlinks").childNodes;
					// every other object in this list is innertext, the odd numbers are elements
					for ( let i = 1; i < navs.length; i += 2 ) {
						navs.item(i).className.replace(" active", " inactive");
					}

					// this.className.replace(" inactive", " active");
				}

				function mobile_menu_toggle() {
					let burger = document.getElementById("mobile-nav-button");
					let side_nav = document.getElementById("nav-primary");
					console.log(burger.classList);

					if ( burger.classList.contains("open") ) { // close menu
						burger.classList.remove("open");
						burger.style["background-color"] = "rgba(80,40,160,1)";
						side_nav.style["width"] = "0";
						document.body.style["background-color"] = "white";
					} else {	// open menu
						burger.classList.add("open");
						burger.style["background-color"] = "rgba(60,30,120,1)";
						// check if we're in mobile mode
						side_nav.style["width"] = "50vw";
						// darken the rest of the screen
						document.body.style["background-color"] = "rgba(0,0,0, 0.6)";
					}
				}
				// reset navbar on resize so darkened overlay and navbar width return to normal
				document.documentElement.addEventListener("resize", function() { 
					if ( document.documentElement.clientWidth > 720 ) {
						document.body.style["background-color"] = "white";
						side_nav.style["width"] = "100%";
					}
				});
				// implement onResize event listener
			</script>
	</body>