/* TODO
@animate burger on burger click
@implement using SCSS
@@use variables for mobile size constant
@@use variables for UI transition times
*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&display=swap');

:root {
	--background: rgba(16, 16, 16, 1);
	--headerbackground: rgba(80, 40, 160, 1);

	--primary: rgba(80,40,160,1);
	--accent: white;
	--background_light: rgba(255, 255, 255, 1);
	--background_dark: rgba(76, 84, 84, 1);
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* TODO fix for specific elements, consider adding 'focusable' class*/
*:focus {
	outline: thin dotted;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: "Source Sans Pro", 400;
	font-weight: 400;
	line-height: 1.5rem;
	transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	position: relative;
	min-height: 100vh;
}

/* GLOBAL */
.container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

@media screen and (max-width: 720px) {
	.container {
		width: 100%;
	}
}

.center {
	margin: auto;
}

/*HEADER*/
header {
	display:block;
	position: relative;
	background: var(--headerbackground);
	color: white;
	padding-top: 1rem;
	text-align: center;
	justify-content: center;
}
/* TODO fix explicit height, figure out margins*/
@media screen and (max-width: 720px) {
	header {
		display: block;
		height: 130px;
		position: -webkit-sticky; /* safari */
		position: sticky;
		top: 0;
		color: white;
		padding: 0.5rem 0;
	}
}

#mobile-nav-button {
	display: none;
}

#header-synopsis {
	display: table;
	margin: auto;
	padding-top: 1rem;
}

#header-synopsis img {
	display: block;
	margin: auto;
	height: 100px;
	width: 100px;
}

#header-synopsis figcaption {
	display: table-cell;
	caption-side: right;
	vertical-align: middle;
	font-family: "Source Code Pro";
	font-size: 3rem;
	padding: 2rem;
}

#header-synopsis figcaption #firstname {
	display: inline-block;
	font-weight: 400;
}

#header-synopsis figcaption #lastname {
	display: inline-block;
	font-weight: 700;
}

/* Mobile header figure tweaks */
@media screen and (max-width: 720px) {
	#header-synopsis {
		display: table;
		margin: auto;
		vertical-align: middle;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding-top: 0rem;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	#header-synopsis img {
		display: inline-block;
		vertical-align: middle;
		height: 80px;
		width: 80px;
	}
	
	#header-synopsis figcaption {
		display: table-cell;
		caption-side: right;
		vertical-align: middle;
		text-align: left;
		font-size: 1.4rem;
		padding: 0;
		padding-left: 1rem;
		padding-right: 6rem;
	}

	#header-synopsis figcaption p {
		display: block;
		width: 100%;
	}
}

#synopsis a {
	text-decoration: underline;
	color: white;
}

#nav-primary {
	display: block;
	margin: auto;
	padding: 1rem 0;
}

#nav-primary ul {
	display: block;
	margin: auto;
	width: 80%;
	list-style-type: none;
}

#nav-primary li {
	display: inline-block;
	text-align: center;
	width: 15%;
}

#nav-primary li a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Source Code Pro";
	font-size: 1.1rem;
	padding: 0.3rem 1rem;
	background-color: none;
	color: white;
	transition: background-color 0.25s linear, color 0.5s linear;
	-moz-transition: background-color 0.25s linear, color 0.25s linear;
}

#nav-primary li a.active,
#nav-primary li a:hover,
#nav-primary li a:focus {
	background-color: var(--accent);
	color: black;
}

@media screen and (max-width: 720px) {
	#nav-primary {
		display: inline-block;
		margin: initial;
		position: absolute;
		top: 100%;
		right: 0;
		height: calc(100vh - 130px); /* viewport - header height*/
		width: 0;
		padding: 0;
		background-color: var(--headerbackground);
		overflow-x: hidden;
		z-index: 998;
		transition: width 0.25s ease-out;
		-moz-transition: width 0.25s ease-out;
	}

	#nav-primary ul {
		display: block;
		width: 100%;
		margin: auto;
	}

	#nav-primary li {
		display: inline-block;
		width: 100%;
		transition: background-color 0.25s;
		-moz-transition: background-color 0.25s;
	}

	#nav-primary li a {
		display: block;
		padding: 1rem 0rem;
		text-decoration: none;
		font-size: 1rem 0;
	}

	/* hamburger menu button */
	#mobile-nav-button {
		display: inline-block;
		background-color: rgba(80,40,160,1);
		border: 1px black;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 2rem;
		width: 4rem;
		vertical-align: middle;
		transition: background-color 0.25s ease-out;
		-moz-transition: background-color 0.25s ease-out;
	}	

	#mobile-nav-button .hamburger-container {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}

	#mobile-nav-button .hamburger-container span {
		outline: none;
		display: block;
		border: 0.15rem solid white;
		border-radius: 0.2rem;
		margin: 0.75rem 0.5rem;
	}
}

main {
	display: block;
	/*background-color: rgba(40,20,80,1);*/
	background-image: url('/assets/main-background');
	min-height: calc(100vh - 160.5px - 56px);
	padding-top: 2rem;
	padding-bottom: 5rem;/* account for size of footer */
}

@media screen and (max-width: 720px) {
	main {
		padding-top: 0;
		padding-bottom: 3rem;
		background: white;
	}
}	

section {
	display: block;
	background-color: white;
	padding: 2rem 2rem;
}

footer {
	/*position: absolute;
	bottom: 0;
	display: block;
	width: 100vw;
	background: var(--background);
	color: white;
	height: 5rem;*/
	display: block;
	background-color: var(--background);
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer p {
	text-align: center;
	margin: auto;
	padding: 1rem;
}


/*  =======
	CLASSES
	=======
	-universal classes at the top 
	-structural classes
		-about
		-resume
		-projects
		-thinkery
		-contact	
===================================*/
.text-paragraph {
	text-indent: 1rem;
	font-size: 1.2rem;
	line-height: 2rem;
}

.article-header {
	font-family: "Source Code Pro";
	color: var(--primary);
	font-size: 2rem;
	padding: 0.5rem 0;
	line-height: 2.5rem;
}

.article-subheader {
	color: var(--accent);
	font-weight: normal;
	font-style: italic;
	font-size: 1.5rem;
	padding: 0.25rem 0;
}

/* ABOUT */

article#about-me h4 {
	text-align: center;
}

article#about-me p {
	font-size: 1.2rem;
	line-height: 2.5rem;
}

/* RESUME */
#section-resume {
	padding: 0;
}

article#resume {
	padding: 0;
}

article#resume section {
	padding: 0 2rem;
}

@media screen and (max-width: 720px) {
	article#resume section {
		padding: 0 1rem;
	}
}

article#resume h3 {
	font-family: "Source Code Pro";
	font-size: 1.3rem;
}

article#resume h4 {
	display: inline-block;
	font-family: "Source Code Pro";
	font-size: 1.2rem;
	line-height: 2rem;
}

article#resume h5 {
	display: inline-block;
	float: right;
	font-size: 1.0rem;
	font-style: italic;
	font-weight: 400;
}
/* 1300px is the point at which the table layout looks silly */
@media screen and (max-width: 1300px) {
	article#resume h4 {
		display: block;
	}

	article#resume h5 {
		display: block;
		float: none;
	}
}

article#resume li {
	margin-left: 2rem;
	padding: 0.25rem 0;
}

article#resume #work-experience ul {
	list-style: none;
}

article#resume #work-experience ul li {
	margin-left: 0rem;
}

article#resume #work-experience ul li ul {
	list-style: disc outside;
}

article#resume #work-experience ul li ul li {
	margin-left: 2rem;
}

article#resume #education ul {
	list-style: none;
}

article#resume #education ul li {
	margin: 0;
}

/* PROJECTS */

#mechosystem-links {
	
}

.projects-figure {
	display: block;
	margin: auto;
	padding: 1rem;
	text-align: center;
}

.projects-figure img,
.projects-figure video {
	display: block;
	margin: auto;
}

#mechosystem-video video {
	background: black;
	width: 80%;
	height: 480px;
}

@media screen and (max-width: 720px) {
	#mechosystem-video {
		width: 100%;
	}

	#mechosystem-video video {
	width: 100%;
	height: 12rem;
	}
}

.projects-figure figcaption {
	display: block;
	margin: auto;
	max-width: 320px;
	padding-top: 0.5rem;
	color: grey;
	font-style: italic;
}

#mechosystem-picture {
	float: right;
}

@media screen and (max-width: 720px) {
	#mechosystem-picture {
		float: initial;
		display: block;
		margin: auto;
	}
}

#mechosystem-picture img {
	border: solid 2px;
}

#mechosystem-doc img {
	border: none;
}	

/* THINKERY */

.blog-post img { 
	float: right;
	max-width: 60rem;
	margin: auto;
}

@media screen and (max-width: 720px) {
	.blog-post img {
		float: initial;
		width: 100%;
		display: block;
	}
}

/* CONTACT */

#contact-form #form-quote {
	display: block;
	margin: auto;
	padding: 0 2rem;
	max-width: 40rem;
}

@media screen and (max-width: 720px) {
	#contact-form {
		
	}

	#form-quote {
		padding: 0;
	}
}

#form-heading {
	text-align: center;
	padding-top: 1rem;
}

#form-quote label {

}

#form-quote input {
	display: block;
	width: 100%;
}

#form-quote textarea {
	display: block;
	width: 100%;
	height: 8rem;
}

#form-quote button.form-submit {
	display: block;
	margin: 1rem auto;
	height: 3rem;
	width: 10rem;
	border: none;
	background: var(--accent);
	color: white;
}

/*contact card part*/

#contact-info-card {
	display: table;
	margin: auto;
}

#contact-info-card img {
	display: block;
	margin: auto;
	height: 200px;
	width: 200px;
}

#contact-info-card figcaption {
	display: table-cell;
	caption-side: right;
	vertical-align: middle;
	padding-left: 4rem;
	text-align: center;
}

/* stack the contact channels underneath photo for mobile */
@media screen and (max-width: 720px) {
	#contact-info-card {
		display: block;
		margin: auto;
	}

	#contact-info-card figcaption {
		display: block;
		margin: auto;
		caption-side: initial;
		vertical-align: initial;
		padding: 0 0;
		padding-top: 1rem;
	}
}

#contact-info-card address {
	font-style: normal;
	display: block;
	margin: auto;
}

#contact-info ul {
	display: block;
	margin: auto;
	list-style-type: none;
}

#contact-info li {
	display: block;
	padding: 0.5rem 0;
}

#contact-info a {
	text-decoration-line: none;
	text-decoration-color: blue;
}
