/* TODO
@fix header; make height absolute, sidebar span the entire vertical height
@fix menu on click; browser doesn't update CSS gotta do it in JS
@add CONTENT
@animate sidebar on burger click
@animate burger on burger click

*/

:root {
	--background: rgba(16, 16, 16, 1);
	--headerbackground: rgba(80, 40, 160, 1);
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.5rem;
}

/* GLOBAL */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

@media screen and (max-width: 720px) {
	.container {
		width: 95%;
	}
}

.center {
	margin: auto;
}

/*HEADER*/
header {
	display:block;
	position: relative;
	background: var(--headerbackground);
	color: white;
	padding-top: 1rem;
	text-align: center;
	justify-content: center;
}

#mobile-nav-button {
	display: none;
}

#header-synopsis {
	display: block;
	padding-top: 1rem;
}

#header-synopsis img {
	display: block;
	margin: auto;
	height: 80px;
	width: 80px;
}

#header-synopsis figcaption {
	font-size: 0.8rem;
	opacity: 0;
	padding: 0;
	transition: opacity 0.5s;
	transform: scale(0);
	transition: transform 0.5s, padding 0.5s;
}

#header-synopsis:hover figcaption {
	opacity: 100;
	padding: 1rem;
	transform: scale(1);
}

#synopsis a {
	text-decoration: underline;
	color: white;

}

header nav {
	display: block;
	margin: auto;
}

header nav ul {
	display: block;
	width: 100%;
	list-style-type: none;
}

#nav-primary li {
	display: inline;
}

#nav-primary li a {
	
	text-decoration: none;
	font-size: 1.1rem;
	padding: 0.2rem 1rem;
	background-color: none;
	color: white;
	transition: background-color 0.25s linear, color 0.5s linear;
	-moz-transition: background-color 0.25s linear, color 0.25s linear;
}

#nav-primary li .active {
	background-color: white;
	color: black;
}

#nav-primary li a:hover {
	background-color: white;
	color: black;
}

@media screen and (max-width: 720px) {
	header {
		display: block;
		width: 100%;
		height: 130px;
		position: relative;
		color: white;
		padding: 0.5rem 0;
	}

	/* FIGURE */
	#header-synopsis {
		display: table;
		vertical-align: middle;
	}

	#header-synopsis img {
		display: inline-block;
		margin-right: 1.5rem;
		vertical-align: middle;
		height: 80px;
		width: 80px;
	}
	
	#header-synopsis figcaption {
		transform: initial;
		transition: initial;
		display: table-cell;
		caption-side: right;
		vertical-align: middle;
		width: 50vw;
		opacity: 100;
		text-align: left;
		font-size: 0.8rem;
	}

	#header-synopsis:hover figcaption {
		opacity: initial;
		padding: initial;
		transform: initial;
	}

	/* NAV */
	#mobile-nav-button {
		display: inline-block;
		background: none;
		border: 1px black;
		/*border: 1px solid black;*/
		position: absolute;
		/* the next two lines is a vertical centering trick */
		top: 50%;
		transform: translateY(-50%);
		right: 2rem;
		vertical-align: middle;
		/*height: 3rem;*/
		width: 4rem;
		transition: background 0.3s;
		-moz-transition: background;
	}	

	#mobile-nav-button .hamburger-container {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}

	#mobile-nav-button .hamburger-container span {
		display: block;
		border: 0.15rem solid white;
		border-radius: 0.2rem;
		margin: 0.75rem 0.5rem;
	}

	/* useful trick: no space between classes = logical AND; space = descendant class*/
	#mobile-nav-button.active {
		background: rgba(40, 20, 80, 1);
	}

	#mobile-nav-button.active span {

	}

	header nav {
		display: inline-block;
		margin: initial;
		position: absolute;
		/*left: -50vh;*/
		top: 100%;
		height: 85vh;
		width: 50vw;
		background-color: var(--headerbackground);
		overflow-x: hidden;
		z-index: 998;
		/*     transform: translateX(25vw); */
/*     transition: transform 0.5s linear; */
	}

	header nav .open {
		background-color: blue; /*testing purposes only*/
	}

	#nav-primary li {
		display: block;
	}

	#nav-primary li a {
		display: inline-block;
		text-decoration: none;
		font-size: 1rem 0;
		padding: 1rem;
		width: 50vw;
		transition: background-color 0.5s ease-in-out;
		-moz-transition: background-color 0.5s ease-in-out;
	}

	#nav-primary li .active, 
	#nav-primary li:hover {
 		background-color: white;
 		color: black;
  	}
}


section {
	display: block;
	background-color: white;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

footer {
	display: block;
	color: white;
	height: 5rem;
}

footer p {
	text-align: center;
	margin: auto;
	padding-top: 2rem;
}
