<section id="contact-form" class="container">
	<form id="form-quote">
		<h4 id="form-heading" style="text-align: center;">Need a website built? Leave your contact information and a brief description and I'll get in touch!
		</h4>
		<hr /><br />
		<label class="form-label">Name</label>
		<br />
		<input class="input-name" />
		<br />
		<label class="form-label">Email</label>
		<br />
		<input class="input-email" />
		<br />
		<label class="form-label">Cell</label>
		<br />
		<input class="input-phone" />
		<br />
		<label class="form-label">Description</label>
		<br />
		<textarea class="input-quote-description"></textarea>
		<button class="form-submit" onclick="submit_quote()">Submit</button>
	</form>
</section>
<br />
<section id="contact" class="container">
	<figure id="contact-info-card">
		<img src="/pic-me" alt="HTML5" />
		<figcaption>
			<address id="contact-info">
				<ul class="contact-methods-list">
					<li class="contact-channel"><a href="mailto:anthonydevellis@gmail.com">anthonydevellis@gmail.com</a></li>
					<li class="contact-channel"><a href="tel:+16478189713">(647)-818-9713</a></li>
					<li class="contact-channel"><a href="https://www.linkedin.com/in/anthony-de-vellis-ba053091">LinkedIn</a></li>
				</ul>
			</address>	
		</figcaption> 
	</figure>
</section>